@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

:root {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.dot-pattern {
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 20px 20px;
}
